<div>
  <div class="margin-bottom">
    <h1>Employees</h1>
    <input type="text" id="employeeId" name="employeeId" placeholder="Insert employee Id" (keydown.enter)="getEmployees(employeeId.value)" #employeeId>
    <button type="button" class="button btn btn-primary" (click)="getEmployees(employeeId.value)">Get Employees</button>
    <p *ngIf="!employees"><em>Click 'Get Employees' button to see results or enter an employee existing id in the box and press the button</em></p>
  </div>
  <div>
    <table class='table table-striped' *ngIf="employees">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <th>Contract Type</th>
          <th>Salary</th>
          <th>Annual Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.roleName }}</td>
          <td>{{ employee.contractTypeName == 'MonthlySalaryEmployee' ? 'Monthly salary' : 'Hourly salary' }}</td>
          <td class="text-center">$ {{ employee.contractTypeName == 'MonthlySalaryEmployee' ? employee.monthlySalary : employee.hourlySalary }}</td>
          <td class="text-center">$ {{ employee.annualSalary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
